package main

templ NewTodoOOB(inputPlaceholder string, todo Todo) {
	@TodoInput(inputPlaceholder, "")

	<div hx-swap-oob="innerHTML:#todo-list-label">
		Todos
	</div>

	<div hx-swap-oob="beforeend:#todo-list">
		@TodoRow(todo)
	</div>

	<div hx-swap-oob="delete:#validation-error">
	</div>
}
